<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Modifica giocatore</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<h1>Modifica giocatore</h1>

<form th:action="@{/admin/giocatore/{id}/modifica(id=${modelGiocatore.id})}"
      th:object="${modelGiocatore}"
      method="post">

    <div>
        <label>Nome giocatore: </label>
        <input type="text" th:field="*{nome}">
    </div>

    <br>

    <div>
        <label>Cognome giocatore: </label>
        <input type="text" th:field="*{cognome}">
    </div>

    <br>

    <div>
        <label>Data di nascita: </label>
        <input type="date" th:field="*{dataDiNascita}">
    </div>

    <br>

    <div>
        <label>Altezza giocatore: </label>
        <input type="text" th:field="*{altezza}">
    </div>

    <br>

    <div>
        <label>Ruolo giocatore: </label>
        <input type="text" th:field="*{ruoloGiocatore}">
    </div>

    <br>

    <div>
        <label>Numero maglia: </label>
        <input type="number" th:field="*{numeroMaglia}">
    </div>

    <br>

    <div>
        <label>Imposta/cambia squadra:</label>

        <select name="squadraId">
            <option value=""
                    th:selected="${modelGiocatore.squadra == null}">
                    nessuna squadra selezionata
            </option>

            <option th:each="squadra : ${modelSquadre}"
                    th:value="${squadra.id}"
                    th:text="${squadra.nome}"
                    th:selected="${modelGiocatore.squadra != null and squadra.id == modelGiocatore.squadra.id}">
            </option>
        </select>
    </div>

    <br>

    <button type="submit">Salva modifiche</button>

</form>

<br>
<form th:action="@{/admin/giocatore/{id}/elimina(id=${modelGiocatore.id})}" method="post">
    <button type="submit">Elimina giocatore dal database</button>
</form>
<br>

<a th:href="@{/giocatore/{id}(id=${modelGiocatore.id})}">
    Torna al dettaglio giocatore
</a>

<br><br>

<a th:href="@{/listaGiocatori}">
    Torna alla lista giocatori
</a>

<br><br>

<a th:href="@{/home}">
    Torna alla home
</a>

</body>
</html>