<!DOCTYPE html>
<html lang="it"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:C="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" th:href="@{/css/stylehome&index.css}">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <style>
        body {
            background-image: url('/images/immagine progetto siw.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>
</head>
<body>

<h1>Scegliere operazione:</h1>

<a th:href="@{/listaTornei}">Visualizza tornei</a>
<br><br>

<a th:href="@{/listaSquadre}">Visualizza squadre</a>
<br><br>

<a th:href="@{/listaGiocatori}">Visualizza giocatori</a>
<br><br>

<a th:href="@{/listaPartite}">Visualizza partite</a>
<br><br>

<a th:href="@{/listaArbitri}">Visualizza arbitri</a>
<br><br>

<a th:href="@{http://localhost:5173/}">REACT: Visualizza arbitri</a>
<br><br>

<div sec:authorize="hasAuthority('ADMIN')">
    <a th:href="@{/admin/listaTornei/nuovo}">Inserisci nuovo torneo</a>
    <br><br>
</div>

<div sec:authorize="hasAuthority('ADMIN')">
    <a th:href="@{/admin/listaSquadre/nuova}">Inserisci nuova squadra</a>
    <br><br>
</div>

<div sec:authorize="hasAuthority('ADMIN')">
    <a th:href="@{/admin/listaGiocatori/nuovo}">Inserisci nuovo giocatore</a>
    <br><br>
</div>

<div sec:authorize="isAuthenticated()">
    <form th:action="@{/logout}" method="post" style="display:inline;">
        <button type="submit"
                style="background:none; border:none; padding:0; color:#c0392b; text-decoration:underline; cursor:pointer; font:inherit; font-weight:600;">
            Logout
        </button>
    </form>
</div>

<div sec:authorize="isAnonymous()">
    <a th:href="@{/login}">Accedi/Registrati</a>
</div>

</body>
</html>