<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Squadra</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1>Dettaglio squadra</h1>
<p>
    <strong>Nome società: </strong>
    <span th:text="${modelSquadra.nome}"></span>
</p>
<p>
    <strong>Anno fondazione: </strong>
    <span th:text="${modelSquadra.annoFondazione}"></span>
</p>
<p>
    <strong>Città:</strong>
    <span th:text="${modelSquadra.citta}"></span>
</p>

<h1></h1>
<p>
    <strong>Lista giocatori: </strong>
</p>
<table border="1">
    <thead>
    <tr>
        <th>Nome</th>
        <th>Cognome</th>
        <th>Dettagli giocatore</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="giocatore:${modelGiocatoriSquadra}">
        <td th:text="${giocatore.nome}"></td>
        <td th:text="${giocatore.cognome}"></td>

        <td>
            <a th:href="@{/giocatore/{id}(id=${giocatore.id})}">Vai al dettaglio</a>
        </td>

    </tr>

    </tbody>


</table>

<h1>Partite</h1>

<table border="1">
    <thead>
    <tr>
        <th>Giornata</th>
        <th>Torneo</th>
        <th>Data e ora</th>
        <th>Luogo</th>
        <th>Arbitro</th>
        <th>Stato</th>
        <th>Squadra casa</th>
        <th>Squadra ospite</th>
        <th>Goal casa</th>
        <th>Goal ospite</th>
        <th sec:authorize="hasAuthority('ADMIN')">Modifica</th>
        <th sec:authorize="hasAuthority('ADMIN')">Elimina</th>
    </tr>
    </thead>

    <h1></h1>

    <tbody>
    <tr th:each="partita : ${modelPartiteSquadra}">
        <td th:text="${partita.giornata}"></td>

        <td>
            <a th:href="@{/listaTornei/{id}(id=${partita.torneo.id})}"
               th:text="${partita.torneo.nome}">
            </a>
        </td>

        <td th:text="${partita.dataOraPartita}"></td>

        <td th:text="${partita.luogo}"></td>

        <td th:text="${partita.arbitro != null ? partita.arbitro.nome + ' ' + partita.arbitro.cognome : 'Nessun arbitro assegnato'}"></td>

        <td th:text="${partita.statoPartita}"></td>

        <td>
            <a th:href="@{/squadra/{id}(id=${partita.squadraCasa.id})}"
               th:text="${partita.squadraCasa.nome}">
            </a>
        </td>

        <td>
            <a th:href="@{/squadra/{id}(id=${partita.squadraOspite.id})}"
               th:text="${partita.squadraOspite.nome}">
            </a>
        </td>

        <td th:text="${partita.goalsHome}"></td>

        <td th:text="${partita.goalsAway}"></td>

        <td sec:authorize="hasAuthority('ADMIN')">
            <a th:href="@{/admin/partita/{id}/modifica(id=${partita.id})}">
                Modifica partita
            </a>
        </td>

        <td sec:authorize="hasAuthority('ADMIN')">
            <form th:action="@{/admin/partita/{id}/elimina(id=${partita.id})}" method="post">
                <button type="submit">Elimina partita</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>



<br>
<a th:href="@{/listaSquadre}">Torna alla lista squadre</a>

<div sec:authorize="hasAuthority('ADMIN')">
    <br>
    <a th:href="@{/admin/squadra/{id}/modifica(id=${modelSquadra.id})}">
        Modifica squadra
    </a>
</div>

<br>
<a th:href="@{/home}">Torna alla home</a>

</body>
</html>